
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0.313rem;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 1.25rem;
}

.right-section ul li {
    margin-left: 1.25rem;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 0.125rem solid #ccc;
}

.right-section .icon {
    margin-right: 0.625rem;
}

/*for mobile view ON header*/

@media (max-width: 426px ) {
    .main-header, .right-section, .right-section ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-section .navigation {
        border: none;
    }
    .navigation ul li {
        padding: 10px;
    }
    
}
/*For tablet view ON header*/

@media (max-width: 769px) {
    .road-assistance-bottom {
        display: none;
    }
    .road-assistance-top {
        display: flex;
        justify-content: center;
        padding-top: 28px;
        gap: 10px;
    }
    .right-section ul {
        flex-wrap: wrap;
    }
}

@media (min-width: 770px) {
    .road-assistance-top {
        display: none;
        justify-content: center;
    }
}

/*Hero section*/
.flex {
    display: flex;
}

#hero-section .text-section {
    width: 45%;
}

#hero-section, #quote-section {
    padding: 5rem 0;
}

.text-section h1 {
    font-size: 4rem;
}

#hero-section .image-section {
    background-image: url("https://i.ibb.co/jgP0TKm/Header-Image-1.png");
    background-size: cover;
    background-position: center;
    width: 55%;
    min-height: 68vh;
}

.orange-btn {
    background-color: #ff6433;
    border-radius: 0.75rem;
    padding: 1rem 2.5rem;
    text-decoration: none;
    font-size: 1.125rem;
    margin-top: 2.188rem;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
}

.text-section .image-box {
    width: 5%;
    margin-right: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-grey {
    color: #939191;
}
.text-section .time-text {
    width: 95%;
}

.time-section img {
    width: 100%;
}

/*For mobile View on hero section*/
@media (max-width: 426px) {
    #hero-section .flex {
        flex-direction: column;
    }
    #hero-section {
        padding: 1rem 0;
        text-align: center;
    }
    #hero-section .text-section {
        order: 2;
        width: 100%;
    }

    .text-section .image-box {
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .time-section img {
        width: 100%;
    }

    .text-section h1 {
        font-size: 35px;
        padding-top: 20px;
    }
    #hero-section .image-section {
        background-size: cover;
        min-width: 100%;
    }

    .justify-between {
        flex-direction: column;
    }

    #offers-section .offers .offer-box {
        min-width: 100%;
    }
}

/*What we offer responsiveness*/
@media (max-width: 860px) and (min-width: 450px) {
    .offer-box_mq {
        min-width: 48%;
    }
}

/*Tablet view on hero section*/
@media (max-width: 769px) {
    #hero-section .flex {
        flex-direction: column;
    }
    #hero-section {
        padding: 1rem 0;
        text-align: center;
    }
    #hero-section .text-section {
        order: 2;
        width: 100%;
    }
    .text-section h1 {
        font-size: 46px;
        padding-top: 0px;
    }
    
    #hero-section .image-section {
        background-size: cover;
        width: 100%;
    }
    .text-section .image-box {
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .time-section img {
        width: 100%;
    }
    .time-section p {
        font-size: 23px;
        width: 100%;
        text-align: center;
    }
}

#quote-section {
    background: #e2e6e9;
}

#quote-section .left-section, #quote-section .right-form-section {
    width: 45%;
}

#quote-section ul {
    list-style: none;
}
#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

#quote-section .left-section .image-box img {
    width: 100%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .right-form-section h3 {
    font-size: 48px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

@media (max-width: 426px ) {
    /*
    .container {
        width: 100%;
    }
    */

    .flex-column{
        flex-direction: column;

    }
    #quote-section .left-section, #quote-section .right-form-section {
        width: 100%;
    }
    #quote-section .left-section h2 {
        font-size: 47px;
    }
    #quote-section .right-form-section h3 {
        font-size: 28px;
    }
}

/*For tablet view on quote-section*/
@media (max-width: 769px) {
    
    .flex-column{
        flex-direction: column;

    }
    #quote-section .left-section, #quote-section .right-form-section {
        width: 100%;
    }
    #quote-section .left-section h2 {
        font-size: 47px;
    }
    #quote-section .right-form-section h3 {
        font-size: 28px;
    }
}

#process-section {
    padding: 80px 0;
}

.justify-between {
    justify-content: space-between;
}

#process-section .left-section {
    width: 55%;
}

#process-section .right-proccess-section {
    width: 40%;
}

#process-section .right-process-section .image-section {
    width: 15%;
    text-align: center;
    margin-right: 10px;
}

#process-section .right-process-section .image-section .centered-line {
    margin-top: 15px;
    margin-bottom: 15px;
}

#process-section .right-process-section .text-section {
    width: 70%;
}
#process-section .right-process-section .image-section img {
    width: 100%;
}

#process-section .right-process-section .image-section .line-box img {
    width: 2px;
}

#process-section .right-process-section .text-section h2 {
    font-size: 32px;
    font-weight: 700;
    padding-top : 20px;
}

#process-section .right-process-section .text-section p {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    color: #000;
    opacity: 0.6;
    width: 60%;
}

#process-section .right-process-section ul li {
    margin-bottom: 10px;
}

#process-section .left-section h2 {
    font-weight: 800;
    font-size: 58px;
    margin-top: 40px;
    width: 70%;
}

#process-section .left-section p {
    font-weight: 600;
    font-size: 16px;
    color: #1E1B1B;
    opacity: 0.6;
    width: 60%;
    margin-top: 20px;
}

/* Mobile view on process section */
@media (max-width: 426px) {
    #process-section .left-section, #process-section .right-process-section {
        width: 100%;
    }
    #process-section .left-section h2 {
        font-size: 35px;
        width: 100%;
    }#process-section .left-section p {
        font-size: 21px;
        width: 100%;
    }
    #process-section .left-section {
        margin-bottom: 40px;
    }
    #process-section .right-process-section .text-section h2 {
        padding-top: 0;
    }

    #process-section .right-process-section .text-section {
        width: 100%;
    }

    #process-section .right-process-section .image-section .line-box img {
        width: 2px;
    }
}

/*Tablet view on process section*/
@media (max-width: 769px) {
    #process-section .left-section, #process-section .right-process-section {
        width: 100%;
    }
    #process-section .left-section h2 {
        font-size: 35px;
        width: 100%;
    }#process-section .left-section p {
        font-size: 21px;
        width: 100%;
    }
    #process-section .left-section {
        margin-bottom: 40px;
    }
    #process-section .right-process-section .text-section h2 {
        padding-top: 0;
    }
    #process-section .right-process-section .text-section {
        width: 100%;
    }

    #process-section .right-process-section .image-section .line-box img {
        width: 2px;
    }
}

#offers-section {
    padding: 80px 0;
    background: #e2e6e9;
    min-height: 100vh;
}

#offers-section h2, #offers-section h5 {
    text-align: center;
}

#offers-section .offers .offer-box {
    background: #fff;
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24%;
    margin-bottom: 10px;
}

#offers-section .offers {
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 10px;
}

#offers-section .offers .offer-box:hover {
    background: #ff6433;
    color: #fff;
}

#offers-section .learn-grow {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}

#tools-section {
    height: 500px;
    display: flex;
}

#tools-section .car-section {
    width: 20%;
    height: 500px;
    background: url(https://i.ibb.co/Z64HjXv/Image-1.png) no-repeat;
    background-size: cover;
    background-position: left;
}

#tools-section .orange-section {
    width: 40%;
    background: #ff6433;
    height: 500px;
}

#tools-section .auto-section {
    width: 40%;
    height: 500px;
    background: url(https://i.ibb.co/7J7Hftp/2.png) no-repeat;
    background-position: center;
    background-size: cover;
}

#tools-section .contact-section h2 {
    font-size: 48px;
    color: white;
}

#tools-section .contact-section {
    padding: 17% 17%;
}

#tools-section .contact-section .button-contact {
    background-color: black;
    border-radius: 0.75rem;
    padding: 1rem 2.5rem;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 2.188rem;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

/*Mobile view on tools section*/
@media (max-width: 426px) {
    #tools-section {
        height: 250px;
    }
    #tools-section .car-section {
        width: 30%;
        height: 250px;
    }
    #tools-section .orange-section {
        width: 40%;
        height: 250px;
    }
    
    #tools-section .auto-section {
        width: 30%;
        height: 250px;
    }
    
    #tools-section .contact-section h2 {
        font-size: 18px;
    }
    #tools-section .contact-section .button-contact {
        border-radius: 1.75rem;
        padding: 1rem 0.5rem;
        margin-top: 1.188rem;
    }
}
/*Tablet view on tools section*/

@media (max-width: 769px) {
    #tools-section {
        height: 250px;
    }
    #tools-section .car-section {
        width: 30%;
        height: 250px;
    }
    #tools-section .orange-section {
        width: 40%;
        height: 250px;
    }
    
    #tools-section .auto-section {
        width: 30%;
        height: 250px;
    }
    
    #tools-section .contact-section h2 {
        font-size: 18px;
    }
    #tools-section .contact-section .button-contact {
        border-radius: 1.75rem;
        padding: 1rem 0.5rem;
        margin-top: 1.188rem;
    }
}
#experience-section {
    padding: 80px 0;
    background: #e2e6e9;
}

#experience-section .flex {
    justify-content: space-between;

}

#experience-section .flex-experience h2 {
    font-size: 58px;
    font-weight: 800;
    color: #661CE7;

}

#experience-section .flex-experience p {
    font-size: 24px;
    font-weight: 600;
    opacity: 0.6;
}
/*Mobile view on Experience section*/
@media (max-width: 426px) {
    #experience-section .flex-experience p {
        font-size: 16px;
    }
    #experience-section .flex-experience h2 {
        font-size: 29px;
    }
}

@media (max-width: 769px) {
    #experience-section .flex-experience p {
        font-size: 16px;
    }
    #experience-section .flex-experience h2 {
        font-size: 29px;
    }
}

#brands-section {
    padding: 80px 0;
}

#brands-section .text-section {
    text-align: center;
}

#brands-section .text-section h3 {
    font-weight: 700;
    font-size: 48px;
}

.test {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.test div {
    width: 25%;
    
}

.test img {
    width: 100%;
}

/*Mobile view on brands section*/
@media (max-width: 426px) {
    #brands-section .text-section h3 {
        font-size: 24px;
    }
}
@media (max-width: 769px) {
    #brands-section .text-section h3 {
        font-size: 40px;
    }
}

#our-service {
    background: #F2F2F2;
    padding: 80px 0;
    min-height: 50vh;
}

#our-service .text-section h3{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

#our-service .our-box .image-box h2{
    font-size: 24px;
    font-weight: 600;
    opacity: 0.9;
}

#our-service .our-box .image-box img {
    margin-bottom: 20px;
}


#our-service .our-box {
    margin-top: 50px;
    gap: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#our-service .our-box .image-box {
    background: #fff;
    min-height: 400px;
    width: 33%;
    padding: 50px;
}

#our-service .our-box .image-box img {
    width: 60%;
}

/*Mobile section on our-service*/
@media (max-width: 426px) {
    #our-service .text-section h3 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    #our-service .our-box {
        flex-direction: column;
    }
    #our-service .our-box .image-box {
        width: fit-content;
    }
    #our-service .our-box .image-box img {
        width: 100%;
    }
}
@media (max-width: 769px) {
    #our-service .text-section h3 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    #our-service .our-box .image-box h2 {
        font-size: 30px;
    }
    #our-service .our-box {
        flex-direction: column;
    }
    #our-service .our-box .image-box {
        width: fit-content;
    }
    #our-service .our-box .image-box img {
        width: 80%;
    }
}

/*
#our-service .dashed-line {
    border:none;
    border-top:4px dashed #939191;
    border-width: 5px;
    width: 1%;
}
*/
#frequent-section {
    background: #E2E6E9;
    padding: 80px 0;
}

#frequent-section h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
}

#frequent-section .text-section {
    background-color: #FFFFFF;
    padding: 20px;
    width: 50%;
    margin: auto;
    gap: 10px;
    margin-bottom: 20px;
}

#frequent-section .text-section h2 {
    font-size: 24px;
    font-weight: 600;
}

.box-p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}

#frequent-section .text-section .box p {
    background-color: #ff6433;
    padding: 5px 12px;
    color: #fff;
    height: 0%;
}

#frequent-section .text-section .box {
    display: flex;
    justify-content: space-between;
}

/*Mobile view on frequent section*/
@media (max-width: 426px) {
    #frequent-section .text-section {
        width: 100%;
    }
}

/*Tablet view on frequent section*/
@media (max-width: 769px) {
    #frequent-section .text-section {
        width: 100%;
    }
}

#get-section {
    background: #1E1B1B;
    padding: 80px 0;
    opacity: 0.98;
}

#get-section .text-section {
    width: 45%;
}

#get-section .contact-section {
    width: 45%;
}

#get-section .contact-img img {
    padding: 10px;
}

#get-section .text-section h3 {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#get-section .contact-flex {
    display: flex;
    justify-content: center;
}

#get-section .contact-details {
    margin-bottom: 20px;
}

#get-section .contact-details p {
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
}

#get-section .contact-details h2 {
    color: #fff;
    margin-bottom: 10px;
}

@media (max-width: 426px) {
    #get-section .contact-flex {
        flex-direction: column;
    }
    #get-section .text-section {
        width: 100%;
    }
    #get-section .contact-section {
        width: 100%;
    }
    #get-section .text-section h3 {
        font-size: 31px;
    }
    #get-section .contact-details p {
        font-size: 21px;
    }
}

#bottom-section {
    background: #1E1B1B;
    padding: 80px 0;
}

#bottom-section .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottom-section .centered-box ul {
    display: flex;
}

#bottom-section .centered-box ul li {
    padding: 20px;
    text-decoration: none;
    list-style: none;
}

#bottom-section .centered-box ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

#bottom-section .top-section div p {
    font-size: 18px;
    font-weight: 600;
}

/* Mobile view on getting to the top of the page*/
@media (max-width: 426px) {
    #bottom-section .top-section {
        flex-direction: column;
    }
    #bottom-section .centered-box ul {
        display: contents;
    }
}

/*Tablet view on getting to the top of the page*/
@media (max-width: 769px) {
    #bottom-section .top-section {
        flex-direction: column;
    }
}

/* Style on Book Our sevicecs page*/
#book-section {
    padding: 80px 0;
}

#book-section .book-our-services {
    display: flex;
    justify-content: center;
    width: 80%;
    overflow-wrap: break-word;
}

#book-section .book-our-services .car-services {
    height: 400px;
    width: 30%;
    background: url(https://i.ibb.co/17yh10p/o-ZOb6z2h-WTU.png) no-repeat;
    background-size: cover;
}

#book-section .book-our-services .our-services {
    background: #1E1B1B;
    width: 50%;
    padding: 20px;
    height: 400px;
    }

#book-section .our-services h1 {
    font-size: 64px;
    font-weight: 800;
    color:  #F2F2F2;
}

#book-section .our-services p {
    font-size: 18px;
    font-weight: 500;
    color:  #F2F2F2;
}
/* Mobile view for book services page */
@media (max-width: 426px) {
    #book-section .book-our-services {
        flex-direction: column;
    }
    #book-section .book-our-services .car-services {
        width: 100%;
        margin-bottom: 20px;
    }
    #book-section .book-our-services .our-services {
        width: 100%;
    }
}
/* Tablet view for book services page*/
@media (max-width: 769px) {
    #book-section .our-services h1 {
        font-size: 32px;
    }
    
    #book-section .our-services p {
        font-size: 16px;
    }
}

#diagnostics-section {
    padding: 80px 0;
    background-color: #F5F5F5;
}

#diagnostics-section .diagnostics-flex {
    display: flex;
    width: 90%;
    justify-content: center;
    height: auto;
}

#diagnostics-section .left-section {
    background-color: #fff;
    padding: 20px;
    width: 40%;
}

#diagnostics-section .left-section h3 {
    font-size: 48px;
    font-weight: 700;
    overflow-wrap: break-word;
}

#diagnostics-section .left-section a {
    font-size: 18px;
    font-weight: 600;
}

#diagnostics-section .left-section p {
    font-size: 24px;
    font-weight: 600;
    opacity: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#diagnostics-section .right-section {
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
    width: 40%;
}

#diagnostics-section .right-section .diagnostics-box {
    background: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
}

/*Mobile View on Diagnostics Section*/
@media (max-width: 426px) {
    #diagnostics-section .diagnostics-flex {
        flex-direction: column;
    }
    #diagnostics-section .left-section, #diagnostics-section .right-section {
        width: 100%;
    }
    #diagnostics-section .left-section .image-right img {
        width: 100%;
    }
    #diagnostics-section .right-section .diagnostics-box {
        width: 100%;
    }
}

/*Tablet View on Diagnostics section*/
@media (max-width: 1530px) {
    #diagnostics-section .left-section .image-right img {
        width: 100%;
    }
    #diagnostics-section .left-section, #diagnostics-section .right-section {
        width: 100%;
    }
    #diagnostics-section .left-section h3 {
        font-size: 24px;
    }
}

#work-section {
    padding: 80px 0;
}

#work-section .left-section-1 {
    width: 50%;
}

#work-section .left-section-1 h3 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    overflow-wrap: break-word;
}

#work-section .left-section-1 p {
    font-size: 24px;
    font-weight: 600;
    overflow-wrap: break-word;
}

#work-section .flex-work {
    display: flex;
}

#work-section .left-section-1 .image-box .box-1 {
    display: flex;
    margin-bottom: 30px;
}

#work-section .left-section-1 .image-box .box-1 img {
    margin-right: 7px;
}

#work-section .right-section-1 .main-box {
    display: flex;
    gap: 10px;
    width: 40%;
}

/* Moble view on Work section*/
@media (max-width: 426px) {
    #work-section .right-section-1 .main-box, #work-section .flex-work {
        flex-direction: column;
    }
    #work-section .left-section-1 {
        width: 100%;
    }
    #work-section .right-section-1 .main-box {
        width: 100%;
    }
    #work-section .right-section-1 .main-box {
        align-items: center;
    }
    #work-section .left-section-1 h3 {
        font-size: 37px;
    }
}

/* Tablet view on work-section*/
@media (max-width: 900px) {
    #work-section .flex-work {
        flex-direction: column;
    }
    #work-section .left-section-1 {
        width: 100%;
    }
}

#diagnose-section {
    padding: 80px 0;
}

#diagnose-section .diagnose-flex {
    display: flex;
    width: 80%;
}

#diagnose-section .diagnose-image {
    display: flex;
    width: 60%;
    gap: 10px;
}

#diagnose-section .diagnose-box {
    width: 40%
}

#diagnose-section .diagnose-box h3 {
    font-size: 48px;
    font-weight: 700;
}

#diagnose-section .diagnose-box p {
    font-size: 18px;
    font-weight: 600;
    opacity: 0.6;
    margin-top: 20px;
}
/*Mobile view on diagnose section */
@media (max-width: 426px) {
#diagnose-section .diagnose-flex {
    flex-direction: column;
}

#diagnose-section .diagnose-image {
    flex-direction: column;
    width: 100%;
}

#diagnose-section .diagnose-box {
    width: 100%;
    margin-top: 20px;
}
}

/* Tablet View on diagnose section*/
@media (max-width: 769px) {
    #diagnose-section .diagnose-flex {
        flex-direction: column;
    }
    #diagnose-section .diagnose-image, #diagnose-section .diagnose-box {
        width: 100%;
    }
    #diagnose-section .diagnose-image {
        order: 2;
        margin-top: 30px;
    }
}